@import "tailwindcss";

:root {
  --background: #edf0f8;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sora);
}

body {
  background-color: #edf0f8;
  background-image: radial-gradient(circle, rgba(0,0,0,0.13) 1px, transparent 1px);
  background-size: 28px 28px;
  background-attachment: fixed;
  color: var(--foreground);
  font-family: 'Sora', Arial, sans-serif;
}

.dashed-grid {
  background-color: #edf0f8;
  background-image: radial-gradient(circle, rgba(0,0,0,0.13) 1px, transparent 1px);
  background-size: 28px 28px;
}